In [2]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error

In [3]:
df = pd.read_csv('./auto-mpg.csv')
df.head()

    mpg  cylinders  displacement  horsepower  weight  acceleration  model-year
0  18.0          8         307.0       130.0    3504          12.0          70
1  15.0          8         350.0       165.0    3693          11.5          70
2  18.0          8         318.0       150.0    3436          11.0          70
3  16.0          8         304.0       150.0    3433          12.0          70
4  17.0          8         302.0       140.0    3449          10.5          70

In [22]:
df = df.replace('?', np.nan)
df = df.dropna()

In [23]:
X = df.drop('mpg', axis=1)
y = df[['mpg']]

In [24]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [25]:
reg = LinearRegression()
reg.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [29]:
# Prikaz modela:
print(f'Slobodan clan: w0 = {reg.intercept_[0]}')
for (ind, col) in enumerate(X_train.columns):
    print(f'Koeficijent uz kolonu {col}: w{ind+1} = {reg.coef_[0][ind]}')

Slobodan clan: w0 = -13.824169113397183
Koeficijent uz kolonu cylinders: w1 = -0.2381301557148637
Koeficijent uz kolonu displacement: w2 = 0.001683903382560267
Koeficijent uz kolonu horsepower: w3 = -0.0002501905818831098
Koeficijent uz kolonu weight: w4 = -0.00662156098602014
Koeficijent uz kolonu acceleration: w5 = 0.010273669827509827
Koeficijent uz kolonu model-year: w6 = 0.7625231149758142

In [37]:
r2_test = reg.score(X_test, y_test)
r2_train = reg.score(X_train, y_train)
print(f'R^2_test = {r2_test}')
print(f'R^2_train = {r2_train}')

R^2_test = 0.7757849559316724
R^2_train = 0.8134917530842111

In [38]:
mse_test = mean_squared_error(y_test, reg.predict(X_test))
mse_train = mean_squared_error(y_train, reg.predict(X_train))
print(f'MSE_test: {mse_test}')
print(f'MSE_train: {mse_train}')

MSE_test: 11.054880997716916
MSE_train: 12.04121219273428

In [39]:
rmse_test = np.sqrt(mse_test)
rmse_train = np.sqrt(mse_train)
print(f'RMSE_test: {rmse_test}')
print(f'RMSE_train: {rmse_train}')

RMSE_test: 3.32488811807509
RMSE_train: 3.4700449842522616