In [3]:
import pandas as pd

df = pd.read_csv('./iris.csv')
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [2]:
print('Opis podataka:')
df.describe()

Opis podataka:

       sepal.length  sepal.width  petal.length  petal.width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [3]:
print(f'Broj instanci: {df.size}')
print(f'Dimenzije tabele: {df.shape}')
print(f'Broj atributa: {df.shape[-1]}')

Broj instanci: 750
Dimenzije tabele: (150, 5)
Broj atributa: 5

In [7]:
print('Kolone tabele:')
for col in df.columns:
    print(f' * {col}')

Kolone tabele:
 * sepal.length
 * sepal.width
 * petal.length
 * petal.width
 * variety

In [8]:
print('Uzorkovanje:')
sample = df.sample(frac=0.1)
print(sample)

Uzorkovanje:
     sepal.length  sepal.width  petal.length  petal.width     variety
94            5.6          2.7           4.2          1.3  Versicolor
128           6.4          2.8           5.6          2.1   Virginica
139           6.9          3.1           5.4          2.1   Virginica
6             4.6          3.4           1.4          0.3      Setosa
118           7.7          2.6           6.9          2.3   Virginica
69            5.6          2.5           3.9          1.1  Versicolor
96            5.7          2.9           4.2          1.3  Versicolor
50            7.0          3.2           4.7          1.4  Versicolor
100           6.3          3.3           6.0          2.5   Virginica
123           6.3          2.7           4.9          1.8   Virginica
64            5.6          2.9           3.6          1.3  Versicolor
51            6.4          3.2           4.5          1.5  Versicolor
101           5.8          2.7           5.1          1.9   Virginica
129           7.2          3.0           5.8          1.6   Virginica
70            5.9          3.2           4.8          1.8  Versicolor

In [15]:
print('Izdvajanje atributa:')
df[['sepal.length', 'sepal.width']].head()

Izdvajanje atributa:

   sepal.length  sepal.width
0           5.1          3.5
1           4.9          3.0
2           4.7          3.2
3           4.6          3.1
4           5.0          3.6

In [20]:
print('Izdvajanje prve cetiri kolone:')
df.iloc[:, :4].head()

Izdvajanje prve cetiri kolone:

   sepal.length  sepal.width  petal.length  petal.width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [24]:
print('Izdvajanje pomocu funkcije loc:')
df.loc[:, ['sepal.width', 'petal.length']].head()

Izdvajanje pomocu funkcije loc:

   sepal.width  petal.length
0          3.5           1.4
1          3.0           1.4
2          3.2           1.3
3          3.1           1.5
4          3.6           1.4

In [32]:
print('Izdvajanje atributa X i ciljne promenljive y:')
X = df[['sepal.length', 'sepal.width']]
y = df.loc[:, ['variety']]
print(X.head())
print(y.head())

Izdvajanje atributa X i ciljne promenljive y:

KeyError: "None of [Index(['variety'], dtype='object')] are in the [index]"